<%-include('partials/header')%>
<body>
    <div class="container">
    <form action="/form" method="POST" class="signup-form">
        <h1 class="heading">details</h1>
    <label>Name
        <input type="text" name="name" class="signup-input">
    </label>
    <label>URL
        <input type="text" name="url" class="signup-input">
</label>
<label>Password
    <input type="password" name="password" class="signup-input">
</label>

<label>Username
    <input type="text" name="user" class="signup-input">
</label>
<input type="submit" value="Save" class="links">
</form>
</div>
    
    
    
</body>
</html>