<%-include('partials/header')%>

<body>
    <div class="container">
        <div class="main-container">
            <div class="main-info">
                <h1 class='heading'>Safe pass</h1>
                <p class='main'>Tired of remembering your passwords?Safepass stores your passwords safely and now you only have to remember one.</p>
                
                <a href="/signup" class="links">Join</a>
    
                <p>Have an account? <a href="/login">Login</a> </p>
            </div>
        
        <div class="logo">
            <img src="/Images/man-phone.jpeg"/>
            
        </div>
          
    </div>
</div>
   
    
</body>
</html>