*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:white;
    font-family: 'Abhaya Libre', serif;
}

.main-container{
    display:flex;
    width:100%;
    height: 100vh;
    justify-content: space-between;
    background: rgb(28, 189, 197,.5);

}
.logo{
    width:50vw;
}
.logo img {
    width:100%;
    max-width:100%;
    max-height: 100vh;
}
.main-info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main-info p{
    margin:0 20px;
}

.links{
    text-decoration: none;
    padding:10px 20px;
    border:1px solid black;
    background-color:black;
    color:white;
    margin:10px;
}
.heading{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2;
    margin:20px 0;

}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
   
    height:100vh;
    width:100%;
    position: relative;
   /* background:rgb(0, 0, 0,.8); */
    /* background:#C6E2E9; */
  
}
.signup-form{
    
    display: flex;
    
    
    background: rgba(255, 255, 255, .8);
    flex-direction:column;
    margin:50px;
    min-height: 100vh;
    margin:0;
    width:600px;
    z-index: 1000;
    font-size:20px;
}

.signup-input{
    background-color:inherit;
    
    border:none;
    outline:none;
    border-bottom:1px solid black;
    margin:20px 5px;
    padding:10px 20px;
} 
.password-container{
     min-height: 100vh;
     background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(10px);
     /* background:rgba(28, 189, 197, 0.6); */
    width:500px;
    z-index: 1000;
     color:black;
    
}
.delete{
    transition: submit ease 2s;
}
.password-list{
    display: block;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    list-style: none;
    text-decoration: none;
    border-radius:5px;
    padding:10px 20px;
    color:white;
    width:300px;
    border-bottom: 1px solid black;
}

.password-list a{
    text-decoration: none;
    color:black;
    width:100%;
    font-size:20px;
    
}
.password-list a:hover{
    color:#1CBDC5;
}
.fa-user-circle{
position:absolute;
right:0;
top:0;
z-index: 1000;

}
.modal{
    position:absolute;
    right:10px;
    z-index: 1000;
   top:50px;
   background-color:white;
    width:200px;
    height:100px;
    border-radius:5px;
    display:none;
}
.modal a{
    text-decoration: none;
    text-align:center;
    margin:10px 0;
    
}
.shape{
    position:absolute;
    width: 100%;;
    top: .5rem;
    left: .5rem;
    height:100%;

}
.details-list{
    list-style: none;
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    text-align: center;
    width:300px;
    height:300px;
    
}
.details-list li{
    margin-top:5px;
}
.details-list h1{
    margin:10px 0;
}
.passwords{
    position:relative;
   
}
.fa-plus{
    position:absolute;
    color:black;
    right:50%;
    bottom:0;
}
.delete{
    background-color: transparent;
    border:none;
    outline:none;
}
#password{
    border:none;
    outline:none;
    appearance: none;
    background-color:transparent;
    position:absolute;
    transform: translate(50px,-50px);
    
}
@media (max-width:760px) {
    .main-container{
        flex-direction: column-reverse;
        
    }
    .logo{
        width:100vw;
    }
    .password-container{
       display: flex;
        flex-direction: column;
        position:relative
    }
    .password-list{
        margin: 10px auto;
    }
    .fa-plus{
        position: absolute;
        right:0;
        bottom:50px;
    }
    
}